@font-face {
  font-family: 'Armata';
  src: url('../fonts/Armata-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'ProximaNova';
  src: url('../fonts/ProximaNova-Regular.woff') format('woff')
}