$color-primary: #3498db;
$color-primary-dark: #2d87c4;
$color-light: #fff;
$color-gray: #c0c0c0;
$color-gray-light: #efefef;
$color-gray-dark: #838383;

$font-family-primary: Armata;
$font-family-secondary: ProximaNova;

$font-size-small: 15px;
$font-size-default: 18px;
$font-size-middle: 22px;